.skills {

    padding: 5px 0 0 0;

    margin: 0 auto;
    min-height: 40px;
    font-size: .95em;

}

.skills h3{

    margin:  0;
}
li.skills {
    position: relative;
    list-style: none;
    margin: 0 50 50;
    font-weight: 500;
    text-transform: uppercase;
}

li.skills:before {
    content: "";
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #e0e0e0cc;
    border-radius: 1000px;
    position: absolute;
}

li.skills:after {
    position: absolute;
    left: 0;
    width: 200px;
    height: 30px;
    background-color: #7bd6c5;
    border-radius: 1000px;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    text-indent: 10px;
    display: flex;
    align-items: center;
}


li.skills.adobe:after {
    animation-name: adobe;
    content: "Design (PS, AI)";
    width: 85%;

}

@keyframes adobe {
    to {
    }
}

li.skills.office:after {
    animation-name: office;
    content: "MS (Word, Excel, PP) ";
    width: 75%;

}

@keyframes office {
    to {
    }
}

li.skills.coding:after {
    animation-name: coding;
    content: "Coding (HTML, CSS, JS)";
    width: 80%;

}


li.skills.prototyping:after {
    animation-name: coding;
    content: "UX Tools (XD, Balsamiq)";
    width: 90%;

}

@keyframes coding {
    to {
    }
}

li.skills.german:after {
    animation-name: german;
    content: "German: Native speaker";
    width: 100%;

}

@keyframes german {
    to {
    }
}


li.skills.english:after {
    animation-name: english;
    content: "English: C1";
    width: 85%;

}

@keyframes english {
    to {
    }
}

li.skills.french:after {
    animation-name: french;
    content: "French: A2";
    width: 45%;

}

@keyframes french {
    
    to {
    }
}


li.skills.dutch:after {
    animation-name: dutch;
    content: "Dutch";
    background-color:  #d67bba;
}

@keyframes dutch {

    from {

        width: 30%;
    }
    to {
        width: 45%;
    }
}

