/* Init 
------------------------------------*/
/* Color Palette
#41c4ab - cyan main
#7bd6c5 - cyan light
#d67bba - magic magenta
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Open Sans',sans-serif;
    margin: 0;
}
a {
    color: #41c4ab;
  }


a:hover {
text-decoration: none;
}
h1, h2 {
font-family: 'Open Sans:600',sans-serif;}

h1 {
font-size: 50px;
}
h2 {
    font-size: 35px;
    margin-top: 25px;
  }

quoteline {
  font-size: 35px;
}
quote {
  font-style: italic;
  font-size: 1.2em;
}

.button.cta span {
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
.content-wrap.slim {
  padding: 0 20px;
}
.col-narrow {
  width: 30%;
  float: left;
  min-height: 175px;
}
.col-wide {
  width: 70%;
  float: left;
  min-height: 175px;
}

.col-wide.padding {
  padding-left: 30px;
}

main {
  padding-top: 25px;
}
img {
    width: 100%;
}


/* Header & Footer 
------------------------------------*/


.profile-img {

    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #7bd6c5;
    padding:unset;

}

header, 
footer {
  background-color: #f5f5f5;
  
  color: #000000;
}


header h1{
  color: #000000;
  margin: 0;

}
header h2 {
  color: #6d6d6d;
  margin: 0;
}

/* Header styles only */
header {
    padding-top: 60px;
    position: relative;
    border-bottom: 10px solid #7bd6c5;
    background: linear-gradient(rgb(228, 228, 228,01)10%, rgba(255, 255, 255, 0.1))50%, url(../img/frankfurt.jpg) no-repeat;
    background-size: auto auto, auto auto;
    background-size: auto auto, auto auto;
    background-size: auto auto, auto auto;
    background-size: cover;
  }

/* Footer styles only */
footer {
    border-bottom: 10px solid #818181;
  }
footer {
    text-align: center;
    border-top: 10px solid #7bd6c5;
    
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}



/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: #e0e0e0cc;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #353535;
}
  

.worknav:hover {

  border-bottom: 10px solid #7bd6c5;

}

.edunav:hover {

  border-bottom: 10px solid #d67bba;

}

.pubnav:hover {

  border-bottom: 10px solid #818181;

}


/* Work Experience
------------------------------------*/
.work h2 span{
    border-bottom:10px solid #7bd6c5;

}



.job-description p:first-of-type {
  margin-top: 0;
}

#card-work {

  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2),0 2px 5px 0 rgba(0,0,0,0.10) !important;
  margin: 20px auto;
  border-radius: 10px;
}
.col-wide.padding.job-description {
  padding-top: 20px;
}


/* Education
------------------------------------*/

.education {
    background: #f8f8f8;
}


.education h2 span{
  border-bottom:10px solid #d67bba;

}


/* Certificates
------------------------------------*/

.card-cert {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  align-items: center;

}

.card-cert p {

  margin: 10px;
  font-weight: bold;

}

.card-cert img {
  width: 65%;
}

/* Publications 
------------------------------------*/

.publications h2 span{
  border-bottom:10px solid #818181;

}
.publications {
  background: linear-gradient(rgb(248, 248, 248), rgba(123, 214, 197, 0.17)) 20%, url(../img/publication.jpg) no-repeat fixed;
  background-size: auto auto, auto auto;
  background-size: auto auto, auto auto;
  background-size: auto auto, auto auto;
  background-size: cover;
}

/* Buttons
------------------------------------*/

.button {
  background: #0009;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 30px;
  width: auto;
  text-decoration: none;
  border-radius: 30px;
  font-variant: all-small-caps;
  margin: 0 0 5px 0;
}

.button.social {
  font-size: 30px;
  padding: 12px 39px;
  border-radius: 14px;

}

.button:hover {
  background: #41c4ab;
  color: #FFFFFF;
}


#social li {
  display: inline;
}

#social ul li a {
  width: 50px;
}




/* Media Queries
-------------------------*/

@media (max-width: 830px){
  header {
    text-align: center;
    padding-top: 100px;
  }

  

  
  .col-narrow {
    width: auto;
    float: none;
  }
  .col-wide {
    width: auto;
  }
  .col-wide.padding {
    padding: 0px;
}

h2 span {
  line-height: 1.5em;
}
  
div.col-narrow a img {
  width: 50%;
}

  .profile-img {
    width: 200px;
  }


}
