/* Init 
------------------------------------*/
/* Color Palette
#41c4ab - cyan main
#7bd6c5 - cyan light
#d67bba - magic magenta
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: 'Roboto',sans-serif;
  margin: 0;
}
a {
  color: #41c4ab;
}

p,a {
  font-size: 12;
  font-weight: 400;

}

video { 
  width:100%;
  height:auto;
}

a:hover {
text-decoration: none;
}
h1, h2 {
font-family: 'Roboto',sans-serif;}


h1 {
  font-size: 40px;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  margin-top: 25px;
  font-weight: 200;

}

h3 {
  font-size: 1.4em;
  font-weight: 200;

}



quoteline {
font-size: 35px;
}
quote {
font-style: italic;
font-size: 1.2em;
}

.button.cta span {
margin-right: 10px;
}

a:hover {
text-decoration: none;
}
.content-wrap {
max-width: 950px;
margin: 0 auto;
padding: 15px;
overflow: hidden;
}
.content-wrap.slim {
padding: 0 20px;
}
.col-narrow {
width: 25%;
float: left;
min-height: 175px;
}
.col-wide {
width: 75%;
float: left;
min-height: 175px;
}

.cta-bottom {
overflow:visible;
text-align: center;

transition: all .3s ease;
transform: translate3D(0,-1px,0) scale(1.0);
}

.cta-portfolio {
text-align: center;
margin-top: -75px;
margin-bottom: 30px;

transition: all .3s ease;
transform: translate3D(0,-1px,0) scale(1.0);
}

.cta-resume{
  margin-bottom: 30px;

}
.cta-bottom img {
width: 200px;
}


.cta-portfolio:hover,.cta-resume:hover {
  transition: all .3s ease;
  transform: translate3D(0,-1px,0) scale(1.3);

}





.col-wide.padding {
padding-left: 26px;
}

main {
background: #f7f7f7;
margin-top: -50px;
}
img {
  width: 100%;
}


/* Header & Footer 
------------------------------------*/


.profile-img {

  border-radius: 11px;
  border-style: solid;
  border-width: 10px;
  border-color: #7bd6c5;
  padding:unset;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  display: flex;
  align-self: center; 
}
.profile-img img {
  filter: grayscale(100%);

}

.profile-info {
  max-width: 400px;
  margin: 20px;
  transition: all .3s ease;
}
header, 
footer {
background-color: #f8f8f8;

color: #000000;
}


header h1{
color: #000000;
margin: 0;

}
header h2 {
color: #595959;
margin: 0;
}

/* Header styles only */
header {
  padding-top: 65px;
  position: relative;
  border-bottom: 10px solid #7bd6c5;
  /* background: linear-gradient(rgb(228, 228, 228,01)10%, rgba(255, 255, 255, 0.5))50%, url(../img/frankfurt.jpg) no-repeat; */
  background-size: auto auto, auto auto;
  background-size: auto auto, auto auto;
  background-size: auto auto, auto auto;
  background-size: cover;
}

/* Footer styles only */
footer {
  border-bottom: 10px solid #818181;
}
footer {
  text-align: center;
  
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

.profile {
display: flex;
margin: 0 0 5px;


}

.profile-contact {
  padding: 0 10px;
  background: #ffffff;
  box-shadow: 5px 5px #7bd6c5;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.profile-contact h3, p {

margin: 5px 0;

}

/* Slot Machine
-------------------------*/

.slot {
  display: flex;
  align-content: center;
  justify-content: center;
}

#slot-handle  {
  display: flex;
  transform-origin: bottom;
  align-self: flex-end;
  display: flex;
  transition: all .3s ease;
  max-height: 200px;
  width: 100px;
}

#slot-handle:hover{
  transform: rotateX(20deg);
  transition: all .3s ease;

}
#slot-handle:active{
  transform: rotateX(50deg);
  transition: all .1s ease;

}

.slotheader {
  background-color: #f8f8f8;
  display: flex;
 justify-content: center;

}
.slotresults {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: inherit;
  transition: all .3s ease;

}

.result {
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 10px;
  background-color: rgba(255,255,255,1);
  box-sizing: border-box;
  border-width: 1px;
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  padding: 15px;
}

.result p {
  font-size: x-large;
  text-align: center;
  align-self: inherit;
}
.item {
    box-sizing: border-box;
    border-width: 1px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 15px;
}

.item .label {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: large;
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  display: flex;
justify-content: center;
}
nav a {
display: inline-block;
padding: 20px 20px;
text-decoration: none;
text-transform: uppercase;
color: rgb(0, 0, 0);
background: #f7f7f7a1;
}



.navi {

  transition: all .3s cubic-bezier(.17, .65, .25, .90);


}



.navi.portfolionav a, .navi.cvnav a {

background: #7bd6c5;
transition: all .3s cubic-bezier(.17, .65, .25, .90);
color: white;
}
.navi.portfolionav a:hover, .navi.cvnav a:hover{

background: #62b2a3;
transform: rotateX(30deg);
transition: all .3s cubic-bezier(.17, .65, .25, .90);
transform: translate3D(0,-1px,0) scale(1.2);

}


.navi.worknav:hover {

  border-top: 15px solid #7bd6c5;


}

.navi.edunav:hover {

  border-top: 15px solid #d67bba;

}

.navi.pubnav:hover {

  border-top: 15px solid #818181;

}

.navi.aboutnav:hover, .navi.contactnav:hover {

  border-top: 15px solid #fff;

}

/* Work Experience
------------------------------------*/
.work h2 span{
  border-bottom:10px solid #7bd6c5;

}



.job-description p:first-of-type {
margin-top: 0;
}

#card-work, .portfolio-description {
  box-shadow: 6px 6px 0px rgba(0,0,0,0.35);
  margin: 20px auto;
      margin-bottom: 20px;
  background: white;
  transition: all .3s ease;
  margin-bottom: 40px;
  border-radius: 0.25em;
}

#card-work:hover {
box-shadow: 10px 10px 0px  rgba(0,0,0,0.2);
transition: box-shadow .5s;
transition: all .3s ease;
transform: translate3D(0,-1px,0) scale(1.05);

}





/* Education
------------------------------------*/


.education h2 span{
border-bottom:10px solid #d67bba;

}


/* Certificates
------------------------------------*/
.certificates {
display: flex;
}

.card-cert {
display: flex;
flex-direction: row;
flex-wrap: initial;
align-items: center;

}

.card-cert p {

margin: 10px;

}

.card-cert img {
width: 25%;
}

/* Publications 
------------------------------------*/

#publications h2 span{
border-bottom:10px solid #818181;

}
#publications {
background: linear-gradient(rgb(248, 248, 248), rgba(123, 214, 197, 0.17)) 20%, url(../img/publication.jpg) no-repeat fixed;
background-size: auto auto, auto auto;
background-size: auto auto, auto auto;
background-size: auto auto, auto auto;
background-size: cover;
padding-bottom: 50px;
border-bottom: 10px solid #7bd6c5;


}

/* Contact
------------------------------------*/

#contact h2 span{
  border-bottom:10px solid #7bd6c5;
  transform-style:preserve-3d;
  transform: rotate3d(-1, 1, 0, 20deg);  
}



/* Portfolio
-------------------------*/

.portfolio-section {
position: relative;
overflow: hidden;
z-index: 0;
}

.portfolio-section::before {

z-index: -1;
top: 180px;
left: -50%;
width: 200%;
height: 400px;
content: "";
position: absolute;
opacity: .7;
filter: brightness(100%) blur(5px);
mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0)); 
transform: rotate(5deg);

}
/* Background definition */

#pfx::before {

background: url(../img/agency.jpg) 0 0 repeat-x;
}


#philwornath::before {

background: url(../img/freelance.jpg) 0 0 repeat-x;
}


#thuas::before {

background: url(../img/university.jpg) 0 0 repeat-x;
transform: rotate(-5deg);


}

.portfolio-description {

z-index: 1;
background: white;
border: 0px;
border-radius: 7px;
border-style: solid;
filter: opacity(90%);
padding: 0 20px;

}




.project-description {

border-bottom: grey;
    border-bottom-style: dashed;
    border-bottom-width: medium;
border-width: 2px;

}

.project-description:last-child {
border-style: none;
padding-bottom: 15px;
}


.project-description img {
padding: 10px 0;
}

.portfolio-section,.cv-section {
padding-top: 65px;

}


.info-wrapper {
  background: #fff6;
  margin: -5px 15px 15px 15px;
  padding: 10px 10px;
}

.logo-wrapper {
  background: #fff;
  margin: 0px 10px auto;
  padding: 10px;
  border-radius: 7px;
}

.project-category {
  background: #5b5b5be6;
  float: right;
  padding: 10px;
  font-size: .8em;  
  color: white;
  text-justify: auto;
  margin: 0 0 0 10px;
  border-radius: .3em;
}

.portfolio-info {
    margin-top: 20px;
    padding: 0 10px;
}

.portfolio-info.float-r {

float: right;

}

.portfolio-img {
margin: 0 15px;
width: 90%;
}


.project-sidewrapper {
width: 30%;
float: right;
}


/* Buttons
------------------------------------*/

.button {
background: rgba(0, 0, 0, 0.8);
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 20px;
font-weight: 500;
padding: 7px 30px;
border-radius: 0.25em;
width: auto;
text-decoration: none;
font-variant: all-small-caps;
margin: 0 0 5px 0;
transition: all .3s ease;

}
.button #learnmore{
  background: #41c4ab;
}

.button.social {
font-size: 30px;
margin: 1rem .5rem;}

.button:hover {
background: #41c4ab;
color: #FFFFFF;
transition: all .3s ease;

box-shadow: 0px 7px 0px rgba(0,0,0,0.8);

}
.button:active {
  transition: all .1s ease;

  background: black;
  transform: translate(0px,7px);
  box-shadow: none;

  }

.buttonwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#social li {
display: inline;
}

#social ul li a {
width: 50px;
}




/* Media Queries
-------------------------*/

@media (max-width: 830px){
header {
  padding-top: 100px;

}
.slotheader{
  padding-top: 100px;
  flex-direction: column;
}
.result {
  width: 100px;
  height:100px;
}
.result p {
  font-size: smaller;
}
h2 {
  font-size: 30px;
  margin-top: 20px;
}

.portfolio-section,.cv-section {
  padding-top: 100px;
}
.aboutnav, .contactnav {

  display: none;

}

.col-narrow {
  width: auto;
  float: none;
}
.col-wide {
  width: auto;
  float: none;

}

div#social {
  margin: 5px 0rem 0px;
  display: flex;
}
.button.social {
  margin: .3rem .3rem;
  font-size: 35px;
  padding: 10px 35px;
}

/* Profile area
------------------------------------*/

.profile {
  flex-direction: column;
  margin: 0 0 20px;

}

.profile-img{
  border-style: inherit;
  max-width: 30%;
  max-height: 30%;

}

.profile-contact {

  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  
}

.profile-contact h3{

  display: none;

}

#card-work {
	box-shadow: 7px 7px 0px rgba(0,0,0,0.2);
	margin: 20px 25px;
	border-radius: 0px;
	background: white;
	transition: all 0s ease;
}

#card-work img {
  max-height: 50%;
max-width: 50%;
}


.portfolio-info  {
  display: flex;
}

.portfolio-info.float-r {
float: none;
}

.certificates {
flex-direction: column;
}

h2 span {
line-height: 1.5em;
}

div.col-narrow a img {
width: 50%;
}

.profile-img {
  width: 200px;

}



}

.projectinfo {
display: flex;
justify-content: space-between;
}