/* .dm {
    filter: invert(1);

  }
  
  .ndm{
    filter: invert(1);
  }
   */



:root {
  --cyan: #41c4ab;
  --cyanlight: #7bd6c5;
  --pink: #d67bba;
  --white: #ffffff;
}

.slotheader{
    -webkit-animation: rainbow 2s steps(36) loop;

}


@-webkit-keyframes rainbow {
    from { -webkit-filter:hue-rotate(10deg); }
      to { -webkit-filter:hue-rotate(360deg); }
 }
 
@-webkit-keyframes cyanergy {
  from { background-color: var(--cyan) ; }
  to { background-color: var(--pink); }

}
 